{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="container mt-5 d-flex align-items-center justify-content-center">
    <div>
        <h1 class="display-4 text-black">
            The page you are looking for isn't available
        </h1>
        <h4 class="mt-4">
            <a href="{% url 'home' %}" class="btn-primary btn-sm">
                Return to home page
            </a>
        </h4>
    </div>
</div>
{% endblock %}