{% extends 'base.html' %}

{% block title %}
Delete Account
{% endblock %}

{% block content %}
<section class="section-intro">
    <header>
        <h1>Welcome to Restaurant</h1>
    </header>
</section>

<section>
    <div class="container py-5">
        <h1>Delete Account</h1>
        <p>Are you sure you want to delete your account? This action cannot be undone.</p>
        <form method="POST">
            {% csrf_token %}
            <button class="btn-primary" type="submit">Yes, delete my account</button>
        </form>
        <p>Want to go back to your profile? <a href="{% url 'profile' %}" class="btn-primary">Go back</a></p>
    </div>
</section>
{% endblock %}