{% extends "base.html" %}

{% block title %}
Home - Our Restaurant
{% endblock %}

{% block content %}
<section class="section-intro">
    <header>
        <h1>Welcome to Restaurant</h1>
    </header>
    <div class="link-to-book-wrapper">
        <a class="link-to-book" id="reservationButton" href="/reservation/new/">Make a Reservation</a>
    </div>
</section>


<div class="container text-center">
    <h2 class="my-5">
        Reservation for
    </h2>
</div>


<section class="about-section">
    <div id="topp-about-heading" class="content-heading">
        <h2>Events <i class="fa-solid fa-martini-glass"></i></h2>
        <p>From grand inaugurations to intimate gatherings, events bring people together in memorable ways.
            These
            moments can be vibrant and lively, creating an opportunity for individuals to connect, learn, and
            grow.
            Events can include everything from cultural festivals, concerts, and art exhibitions to sporting
            events
            and community activities. In all scenarios, events serve as a catalyst for experiences that
            transcend
            the ordinary, leaving lasting memories and deepening human connection.</p>
    </div>
    <div id="mid-about-heading" class="content-heading">
        <h2>Wedding <i class="fa-regular fa-heart"></i></h2>
        <p>A wedding is a momentous occasion, a cherished ceremony that unites two individuals in marriage. It's a
            celebration of love, commitment, and the promise of a shared future. This beautiful event, steeped in
            tradition and cultural significance, is often marked by various customs and rituals. From the exchange
            of vows, the wearing of rings, to the joyous gathering of friends and family, weddings symbolize not
            just the unity of two people, but the blending of two families, and in many ways, it is a reflection of
            the couple's shared values, cultural heritage, and personal style.</p>
    </div>
    <div id="botom-about-heading" class="content-heading">
        <h2>Business meetings <i class="fa-regular fa-handshake"></i></h2>
        <p>Business meetings are essential platforms for collaborative decision-making and problem-solving. They
            serve as a stage where ideas can be proposed, debated, and refined, driving innovation and productivity
            within organizations. From weekly team huddles and project discussions to annual general meetings and
            international conferences, business meetings take many forms. Each one has its unique dynamics and
            requirements, but all share the same objective: to facilitate communication, foster relationships, and
            propel organizations towards their strategic goals.</p>
    </div>

</section>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="2000">
            <img src="https://res.cloudinary.com/dweybbjex/image/upload/v1687028011/ddx0anr9bqhnnugbszcx.jpg" alt="food"
                class="d-block w-100">
        </div>
        <div class="carousel-item" data-interval="2000">
            <img src="https://res.cloudinary.com/dweybbjex/image/upload/v1687028503/h922bcrpm6ptorynnz1l.jpg"
                class="d-block w-100" alt="food">
        </div>
        <div class="carousel-item" data-interval="2000">
            <img src="https://res.cloudinary.com/dweybbjex/image/upload/v1687028599/lajn3dh2kox7swrfienx.jpg"
                class="d-block w-100" alt="food">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container text-center">
    <h2 class="my-5">
        Make a Reservation
    </h2>
</div>{% endblock %}