{% extends 'base.html' %}

{% block title %}
Reservations List
{% endblock %}

{% block content %}
<section class="section-intro">
    <header>
        <h1>Welcome to Restaurant</h1>
    </header>

</section>
<div class="container mt-5">
    <h1 class="text-center">Your Reservations</h1>


    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Table</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <th scope="row">{{ reservation.id }}</th>
                <td>{{ reservation.date }}</td>
                <td>{{ reservation.time }}</td>
                <td>{{ reservation.table }}</td>
                <td>{{ reservation.status }}</td>
                <td>
                    <a href="{% url 'reservation_detail' reservation.id %}" class="btn btn-info">View</a>
                    <a href="{% url 'reservation_cancel' reservation.id %}" class="btn btn-danger">Cancel</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">You have no reservations.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}