{% load static %}
{% load cloudinary %}


<!DOCTYPE html>
<html>

<head>
    <title>Make a Reservation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header class="bg-dark text-white p-5">
        <h1 class="text-center">Reserve a Table</h1>
    </header>
    <main class="container py-5">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Reserve</button>
        </form>
    </main>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>