{% extends 'base.html' %}

{% block title %}
Reservation Details
{% endblock %}

{% block content %}
<section class="section-intro">
    <header>
        <h1>Welcome to Restaurant</h1>
    </header>
</section>

<div class="container mt-5">
    <h1 class="text-center">Reservation Details</h1>

    <div class="row mt-4">
        <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Reservation #{{ reservation.id }}</h5>
                    <p class="card-text">
                        <strong>Date:</strong> {{ reservation.date }}<br>
                        <strong>Time:</strong> {{ reservation.time }}<br>
                        <strong>Guests:</strong> {{ reservation.guests }}<br>
                        <strong>Name:</strong> {{ reservation.name }}<br>
                        <strong>Email:</strong> {{ reservation.email }}<br>
                        <strong>Phone Number:</strong> {{ reservation.phone_number }}<br>
                        <strong>Tables:</strong>
                        {% for table in reservation.tables.all %}
                        Table {{ table.number }} <br>
                        {% endfor %}
                        <strong>Ordered Items:</strong>
                        {% for item in reservation.ordered_items.all %}
                        {{ item.name }} - Price: {{ item.price }} <br>
                        {% endfor %}
                    </p>
                    <a href="{% url 'reservation_list' %}" class="card-link">Back to Reservations List</a>
                    <a href="{% url 'reservation_cancel' reservation.id %}" class="card-link text-danger">Cancel
                        Reservation</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}